.band-projects-container {
  width: 100%;
}

.band-projects-container > h1 {
  font-weight: 500;
  margin: 24px 0 24px 10px;
}

.band-projects {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
