.band-projects-container {
  width: 100%;
  /* padding: 0px 10px; */
  margin: 0;
}

.band-projects-container > h1 {
  font-weight: 400;
}

.band-projects {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* gap: 4px; */
  row-gap: 8px;
  align-items: center;
  justify-content: space-evenly;
}
