.member-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

.member-card > img {
  width: 100%;
}

.name {
  text-align: center;
  font-weight: 400;
  margin: 0;
}
