.blog-container {
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 40px;
}

.blog-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.blog-heading > h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
}

.blog-heading > p {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
}

.blog-section {
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-bio {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 2px 2px 8px 2px rgb(133, 131, 131);
}

.blog-bio > img {
  width: 100%;
}

.blog-bio__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.blog-bio__content > h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 0;
}

.blog-bio__content > p {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 14px 0;
}

.blog-popular-posts {
  width: 450px;
  box-shadow: 2px 2px 8px 2px rgb(133, 131, 131);
  box-sizing: border-box;
}

.blog__popular-posts {
  padding: 16px 28px;
  font-size: 26px;
  font-weight: 300;
  background-color: rgb(220, 215, 215);
}

ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li {
  border-bottom: 1px solid rgb(197, 190, 190);
  padding: 8px 16px;
}

ul > li:hover {
  background-color: rgb(197, 190, 190);
}

.tags-container {
  width: 450px;
  box-shadow: 2px 2px 8px 2px rgb(133, 131, 131);
  box-sizing: border-box;
}

.tags-container > h3 {
  margin: 0;
  padding: 16px 28px;
  font-size: 26px;
  font-weight: 300;
  background-color: rgb(220, 215, 215);
}

.tags {
  padding: 12px;
}

.tags > p {
  display: inline-block;
  padding: 2px 8px;
  background: #e1e1e1;
  margin: 3px 6px;
}

.tags > .active {
  color: #fff;
  background: #000;
}
