.form-container {
  margin: 0;
  padding: 10px 30px;
  box-sizing: border-box;
}

.form-container > input {
  width: 100%;
  font-size: 18px;
  border: 1px solid rgb(208, 208, 208);
  padding: 12px 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

.form-container > button {
  border: none;
  padding: 12px 14px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #000;
  margin-top: 14px;
}

.form-container > button:hover {
  background-color: rgb(204, 202, 202);
  color: black;
}

.form-container > h1 {
  font-size: 30px;
  font-weight: 400;
}

.form-container > p {
  font-size: 19px;
}
