.band-about-container {
  width: 100%;
}

.band-about-container > h1 {
  margin: 24px 0 24px 12px;
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1;
}

.band-about-content {
  margin: 0;
  padding: 20px 10px;
  font-size: 18px;
  font-weight: 500;
}

.band-about-team {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
