.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 50px 0 40px;
}

.socials {
  display: flex;
  justify-content: center;
}

.social {
  color: grey;
  font-size: 30px;
}

.social:hover {
  color: rgb(181, 178, 178);
}
.footer-heading > p {
  font-size: 18px;
  color: grey;
  margin: 0;
}

.footer-heading > p > a {
  color: grey;
}
