.catering__hero-section {
  width: 100%;
  position: relative;
}

.catering__hero-section > img {
  width: 100%;
}

.catering__hero-section > p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font-size: 50px;
  color: rgb(108, 106, 106);
  letter-spacing: 6px;
}

.catering-about-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
  /* padding: 100px; */
}

.catering-about__left {
  width: 600px;
}

.catering-about__left > img {
  width: 100%;
  opacity: 0.7;
}

.catering-about__right {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.catering-about__Heading {
  text-align: center;
  margin: 0;
  font-size: 50px;
  font-weight: 400;
}

.catering-about__subHeading {
  text-align: center;
  margin: 0;
  font-size: 22px;
  letter-spacing: 5px;
}

.catering-about__content-1 {
  text-align: justify;
  margin: 0;
  font-size: 20px;
  font-weight: 350;
}

.catering-about__content-1 > span {
  background-color: #ebebeb;
}

.catering-about__content-2 {
  text-align: justify;
  margin: 0;
  font-size: 20px;
  font-weight: 350;
  color: #757575;
}

.menu-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
  align-items: center;
}

.menu__left {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu__left > h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

.menu__right {
  width: 600px;
}

.menu__right > img {
  width: 100%;
  opacity: 0.7;
}

.menu__dish {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
  margin-top: 50px;
}

.menu__dish-name {
  margin: 0;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 4px;
}

.menu__dish-description {
  margin: 0;
  font-size: 15px;
  color: #757575;
}

.catering-contact-section {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  margin: 80px auto 0 auto;
}

.catering-contact-section > h1 {
  font-size: 45px;
  font-weight: 400;
  margin: 0 0 30px 0;
}

.catering-contact-section > p {
  margin: 10px 8px;
}

.catering-contact__address {
  font-size: 20px;
  font-weight: 500;
  color: #607d8b;
}

.catering-contact__form {
  width: 100%;
}
.catering-contact__form > form > input {
  width: 100%;
  padding: 20px 10px;
  border: none;
  border-bottom: 1px solid rgb(205, 203, 203);
  font-size: 18px;
  margin-bottom: 10px;
}

.catering-contact__form > form > button {
  border: none;
  background-color: rgb(231, 228, 228);
  padding: 12px 16px;
  font-size: 18px;
  margin: 14px 0;
  color: black;
}

.catering-contact__form > form > button:hover {
  background-color: rgb(205, 203, 203);
}
